<!DOCTYPE html>
<html>
<head>
	<title>es6</title>
	<link rel="stylesheet" type="text/css" href="../css/index.css">
</head>
<body>
	
	<div>test css</div>

	<script src="../js/index.js"></script>
	
</body>
</html>