<!DOCTYPE html>
<html>
<head>
	<title>es6</title>
	<link rel="stylesheet" type="text/css" href="../public/css/index.css">
</head>
<body>
	hdjkhdj sdjshdsjkhdshdsk dhdskjsdjks
	shjsh
	<p>hdsj</p>
	<h1>dkhdkjdh</h1>
	<script src="../js/index.js"></script>
	<div>dhdsj</div>
</body>
</html>